body {
  font-family: Arial, sans-serif;
  background-color: rgb(179, 106, 54);
  margin: 0;
  padding: 20px;
  color: #fff;
}

/* TITLE */
h1 {
  text-align: center;
}

/* INPUT AREA */
#markdown-input {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* OUTPUT BOXES */
#html-output,
#preview {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  white-space: pre-wrap;
}

/* PREVIEW IMAGES */
#preview img {
  max-width: 100%;
}

/* LINKS */
#preview a {
  color: yellow;
}

/* BLOCKQUOTE */
#preview blockquote {
  border-left: 4px solid white;
  padding-left: 10px;
  margin-left: 0;
}