<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
</head>
<body>
    <footer>
        <hr>
        <p>Connect with me:</p>
        <ul class="social-links">
            <li><a href="mailto:mashalgharzai0@gmail.com">Email</a></li>
            <li><a href="tel:9802920909">Phone: 980-292-0909</a></li> <!-- Corrected to use 'tel:' -->
            <li><a href="https://mashalkamal.github.io/" target="_blank">My GitHub Page</a></li>
            <li><a href="https://www.linkedin.com/in/mashal-gharzai/" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.freecodecamp.org" target="_blank">FreeCodeCamp</a></li>
        </ul>
        <p>Designed by Mashal Gharzai</p>
        <p>
            Certified in <a href="https://www.freecodecamp.org/learn/responsive-web-design-v9/exam-responsive-web-design-certification/exam-responsive-web-design-certification" target="_blank">Responsive Web Design</a>
        </p>
    </footer>
</body>
</html>