<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles/default.css"> 
    <style>
        footer {
            text-align: center;
            margin-top: 20px;
            padding: 20px 0;
            background-color: #f8f8f8;
            border-top: 1px solid #ccc;
        }
        .social-links {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }
        .social-links li {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <footer>
        <hr>
        <p>Connect with me:</p>
        <ul class="social-links">
            <li><a href="mailto:mashalgharzai0@gmail.com">email</a></li>
             <li><a href="980-292-0909" >Phone </a></li>
            <li><a href="https://mashalkamal.github.io/" target="_blank">My GitHub Page</a></li>
            <li><a href="https://www.linkedin.com/in/mashal-gharzai/" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.freecodecamp.org" target="_blank">FreeCodeCamp</a></li>
        </ul>
        <p>Designed by Mashal Gharzai</p>
        <p>
            Certified in <a href="https://www.freecodecamp.org/learn/responsive-web-design-v9/exam-responsive-web-design-certification/exam-responsive-web-design-certification" target="_blank">Responsive Web Design</a>
        </p>
    </footer>
    
</body>
</html>