<header>
    <nav>

        <ul>
            <li><a href="itis3135/index.html">ITIS 3135 Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="itis3135/website_evaluations.html">Afghan Website Evaluations</a></li>
            <li><a href="itis3135/hobby.html">My hobby page</a></li>
            <li><a href="itis3135/intro_form.html">Introduction Form</a></li>
            <li><a href="certification.html">Certification</a></li>
            <li><a href="itis3135/mehr_projects.html">Mehr Online Shop</a></li>
            <li><a href="../index.html">Go Back Home</a></li>
            <li><a href="itis3135/contract.html">contract</a></li>
            <li><a href="itis3135/survey.html">survey</a></li>
            <li><a href="itis3135/inventory.html">inventory</a></li>
            <li><a href="itis3135/instructions.html">instructions</a></li>
            <li><a href="itis3135/highlight.html">highlight</a></li>
            <li><a href="itis3135/stuff/CRAPpy.Webpage.htm">CRAPpy</a></li>
            <li><a href="itis3135/intro_form.html">intro-form</a></li>
            <li><a href="itis3135/designfirm.com/index.html">designfirm</a></li>
        </ul>
    </nav>
<h1> Mashal Gharzai </h1>
</header>