<header>
    <nav>
        <ul>
            <li><a href="index.html">Mashal Gharzai</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="itis3135/index.html">ITIS 3135 Home</a></li>
            <li><a href="itis3135/hobby">My Hobby Site</a></li>
            <li><a href="itis3135/website_evaluations.html">Afghan Website Evaluations</a></li>
            <li><a href="itis3135/intro_form.html">Introduction Form</a></li>
            <li><a href="certification.html">Certification</a></li>
            <li><a href="mehr_projects.html">Mehr Online Shop</a></li>
            <li><a href="../index.html">Go Back Home</a></li>
            <li><a href="itis3135/contract.html">Contract</a></li>
            <li><a href="itis3135/survey.html">Survey</a></li>
            <li><a href="itis3135/inventory.html">Inventory</a></li>
            <li><a href="itis3135/instructions.html">Instructions</a></li>
            <li><a href="itis3135/highlight.html">Highlight</a></li>
            <li><a href="itis3135/stuff/CRAPpy.Webpage.htm">CRAPpy</a></li>
            <li><a href="itis3135/designfirm.com/index.html">Design Firm</a></li>
        </ul>
    </nav>
</header>